#app {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}

#main {
  position: relative;
}

img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin: 5px;
}

li {
  list-style-type: none;
}

body {
  background-color: whitesmoke;
}

.productName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-left: 45px;
}

.productStars {
  font-weight: normal;
  font-size: 15px;
  margin-left: 45px;
}

.productReviewCount {
  font-weight: normal;
  font-size: 15px;
  color: rgb(122, 122, 122);
  margin-left: 5px;
}

.mainImgBox {
 position: absolute;
 top: 70px;
 left: 200px;
}

.mainImg {
  height: 20em;
  width: 20em;
}

.hoverEnterImgBox {
  position: absolute;
  top: 70px;
  left: 200px;
 }

 .hoverEnterImg {
   height: 20em;
   width: 20em;
 }

 .clickedImage {
   border: 3px solid rgb(38, 174, 228);
 }

 .productInfo {
   display: flex;
   flex-direction: row;
 }

 .productDetails {
   position: absolute;
   left: 550px;
   top: 70px;
 }

 .productDetail {
   margin: 10px 10px;
   padding: 10px 10px;
   width: 200%;
   list-style-type: disc;
 }

